.card.text-black {
    border: none;
}
.form-control{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important ;
}
.order-lg-1 {
    order: 1!important;
    margin-left: 500px;
    margin-top: 90px !important;
}
.text-center{
    margin-left: 200px;
}
.form{
    margin-right: 5px;
}
.loginbtn{
    margin-right:0px;
    width: 133px !important;
}
.remember{
    margin-right: 233px;
}
@media screen and (max-width: 400px){
    .vertical-line{
        display: none;
    }
}

@media screen and (max-width: 820px){
    .logo{
        width: 300px !important;
        margin-left: 0px !important
    }
    .forgot-password{
        margin-top: -50px !important;
        margin-right: 0px !important;
        margin-left: 200px !important
    }
    .vertical-line{
        margin-left: 40px;
    }
}

@media screen and (min-width: 821px){
    .vertical-line{
        margin-left: 50px;
    }
}